@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  overflow:auto;
}

/* color palette from figma */
:root {
  --purple: #8843e4;
  --black: #252525;
  --darkPink: #ff4779;
  --lightPink: #ffe1e8;
  --white: #ffffff;
}
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("../assets/dating.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: black;
    background-attachment: fixed;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}
